.Cat_Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    font-size: 40px;
    font-weight: bold;

    margin: auto;
    width: 400px;
}

.Cat_Card img {
    width: 400px;
    height: 400px;
    border-radius: 50px;
}

.Cat_VoteBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}


.Cat_Next {
    
    border: none;
    width: 50px;
    height: 50px;
}

.Cat_Upvote {
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;

    border: none;
    width: 50px;
    height: 50px;
}
.Cat_Upvote[data-checked="checked"] {
    background-image: url('../images/UpvoteCat-Selected.png');
}
.Cat_Upvote[data-checked="unchecked"] {
    background-image: url('../images/UpvoteCat-Unselected.png');
}

.Cat_Downvote {
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;

    border: none;
    width: 50px;
    height: 50px;
}
.Cat_Downvote[data-checked="checked"] {
    background-image: url('../images/DownvoteCat-Selected.png');
}
.Cat_Downvote[data-checked="unchecked"] {
    background-image: url('../images/DownvoteCat-Unselected.png');
}

.Cat_VoteText {
    font-size: 20px;
}

.Cat_Comments {
    width: 400px;
    height: min-content;
    padding: 0px;
    font-size: 16pt;
    resize: none;
    
    cursor: default;
    border: none;
    outline: none;
    background-color: transparent;
}

.Cat_Input {
    width: 350px;
    height: 30px;
    font-size: 16pt;
}

.Cat_InputSubmit {
    background-image: url("../images/Submit.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;

    border: none;
    width: 30px;
    height: 30px;
}